<%= form_with(model: everycheck, local: true) do |form| %>
  <% if everycheck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(everycheck.errors.count, "error") %> prohibited this everycheck from being saved:</h2>

      <ul>
      <% everycheck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :foodname %>
    <%= form.text_field :foodname %>
  </div>

  <div class="field">
    <%= form.label :calorie %>
    <%= form.number_field :calorie %>
  </div>

  <div class="field">
    <%= form.label :eat_date %>
    <%= form.date_select :eat_date %>
  </div>

  <div class="field">
    <%= form.label :eat_time %>
    <%= form.datetime_select :eat_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
